extends layout

block content
  script(src='/javascripts/jquery-2.2.1.js')
  script(src='/javascripts/index.js')
  script(src='/javascripts/eventListeners.js')
  script(src='/javascripts/modal.js')
  script(src='/javascripts/catalog.js')
  script(src='/javascripts/delay.js')
  link(rel='stylesheet' href='/stylesheets/fontello.css')

  <noscript> For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</noscript>

  nav
    h1= title
    div(class='searchbar')
      input(id='search', name='search', type='text', placeholder="Search...", value='')
    div(class='filterbar')
      select(id='filter')
        - var bookshelf = ['Category','Fantasy','Comedic Fiction', 'Erotica', 'Historical Fiction', 'Horror', 'Literary Fiction', 'New Adult', 'War/Military Fiction', 'Western', 'Women\'s Fiction','Mystery','Nonfiction','Romance','Science Fiction','Thriller','Young Adult']
        each book in bookshelf
          if book == 'Category'
            option(value='') #{book}
          else
            option(value=book) #{book}
    div(class='views')
      button(class="grid icon-th-large selectedview")
      button(class="list icon-menu")

  p Welcome to #{title}
  .wrapper
    div(class='loader')
    #bookshelf
    button(id='top', class='icon-up', href='#top')